apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: showroom-terminal-lab-user-home
spec:
  storageClassName: ocs-storagecluster-ceph-rbd
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem
